
Pokedex.xcodeproj/xcuserdata/VSALDAG.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pokedex.xcodeproj/xcuserdata/VSALDAG.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pokedex.xcodeproj/xcuserdata/VSALDAG.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
